<?xml version="1.0"?>

<launch>

    <!-- ABOUT CAMERA --> 
    <arg name="cam_id" value="0"/>
    <arg name="cam_image_topic" value="/camera/image" />
    <arg name="cam_info_topic" value="/camera/camera_info" />   
    <arg name="cam_node_name" value="camera"/>

    <!-- ABOUT ar_tracking --> 
	<arg name="marker_size" value="11" />
	<arg name="max_new_marker_error" value="0.08" />
	<arg name="max_track_error" value="0.2" />
	<arg name="output_frame" value="camera" />
	<arg name="bundle_files" value="$(find project_ar_tracking)/bundles/table_0_3.xml" />

    <!-- ABOUT model on rviz? -->
    <arg name="model" value="$(find project_ar_tracking)/urdf/rectangle.urdf"/>
    <arg name="mark_id" value="0"/>
    <arg name="model_frame" value="base_rectangle"/>

    <include file="$(find project_ar_tracking)/launch/camera.launch">
        <arg name="cam_id" value="$(arg cam_id)"/>
        <arg name="cam_image_topic" value="$(arg cam_image_topic)"/>
        <arg name="cam_info_topic" value="$(arg cam_info_topic)"/>
        <arg name="cam_node_name" value="$(arg cam_node_name)"/>
    </include>


    <include file="$(find project_ar_tracking)/launch/find_bundle_melodic.launch">

        <arg name="cam_image_topic" value="/camera/image" />
        <arg name="cam_info_topic" value="/camera/camera_info" />   
        <arg name="cam_node_name" value="camera"/>

	    <arg name="marker_size" value="4.4" />
	    <arg name="max_new_marker_error" value="0.08" />
	    <arg name="max_track_error" value="0.2" />
	    <arg name="output_frame" value="camera" />
	    <arg name="bundle_files" value="$(find project_ar_tracking)/bundles/table_0_3.xml" />

        <arg name="model" value="$(find project_ar_tracking)/urdf/rectangle.urdf"/>
        <arg name="mark_id" value="0"/>
        <arg name="model_frame" value="base_rectangle"/>

    </include>

</launch>
