<?xml version="1"?>

<launch>
	<arg name="marker_size" default="4.4" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
        
	<arg name="cam_image_topic" default="/camera/image" />
	<arg name="cam_info_topic" default="/camera/camera_info" />
        
	<arg name="output_frame" default="camera" />
	<arg name="bundle_files" default="$(find project_ar_tracking)/bundles/table_0_3.xml" />

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" 
            respawn="false" output="screen" 
            args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg bundle_files)" />

    <arg name="model" default="$(find project_ar_tracking)/urdf/one_shape.urdf"/>
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
</launch>
