<?xml version="1.0"?>

<launch>

	<arg name="marker_size" default="9" />
	<arg name="max_new_marker_error" default="0.12" />
	<arg name="max_track_error" default="0.22" />
	<arg name="cam_image_topic" default="/webcam_camera/image_raw" />
	<arg name="cam_info_topic" default="/webcam_camera/camera_info" />
	<arg name="output_frame" default="/mark" />

    <node name="single_mark" pkg="ar_track_alvar" type="individualMarkersNoKinect" 
            respawn="false" output="screen" >

        <!--marker size(doube) is witdh in centimeters of one side of the black square -->
        <param name="marker_size"           type="double" value="$(arg marker_size)"/>

        <!--max_new_marker_error (double) A threshold determining when new markers can be
            detected under uncertainty-->
        <param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)"/>

        <!--max_track_error(double) A threshold deternion how much tracking error can be 
            observedbefore an tag is considered to have disappeared-->
        <param name="max_track_error"       type="double" value="$(arg max_track_error)"/>

        <param name="output_frame"           type="string" value="$(arg output_frame)"/>

        <remap from="camera_image" to="/webcam_camera/image_raw"/>

        <remap from="camera_info" to="/webcam_camera/camera_info"/>

    </node>

</launch>
